{% extends 'myApp/base.html' %}

{% block title %} About myApp {% endblock %}

{% block body_block %}
    <div class="hero-unit">
    	<h1> About myApp </h1>
        This is <strong> myApp's about page </strong>. <br />
        
        You've sivisted the site on <strong> {{ visit_count }} occasions(s)</strong>. <br />

        Here's a picture of myApp! <br />

        <img src = "/media/nyplCivicHack.jpg" altname = "NYPL civic hackday"> <br />
        {#<img src="{% static 'nyplCivicHack.jpg' %}" alt="Picture of Rango" />#}
    </div>
{% endblock %} 
 