{% extends 'myApp/base.html' %}

{% block title %} {{ category_name }} {% endblock %}

{% block body_block %}

        <h1> {{ category_name }} </h1>
        {% if category %}
            {% if pages %}
                <ul>
                    {% for page in pages %}
                        {#<li><a href = {{page.url}} >{{ page.title }}</a></li>#}
                        <li>
                            <a href = "/myApp/goto/?page_id={{page.id}}">{{page.title}}</a>
                            {#{% if {{ page.views }} > 1 %}#}
                            {% if page.views > 1 %}
                                - ({{ page.views }} views)
                            {#{% elif {{ page.views }} == 1 %}#}
                            {% elif page.views == 1 %}
                                - ({{ page.views }} view)
                            {% endif %}
                        </li> 
                    {% endfor %}
                </ul>
            {% else %}
                <storng> There is no page in this category! </strong>
            {% endif %} 
        {% else %}
            <strong> The specified category {{ category_name }} does not exist! </strong>
        {% endif %}

        <br>

        {#<a href = "myApp/add_page/" >Add a new page. </a>#}

        {% if category %}
            <a href="/myApp/category/{{ category_name_url }}/add_page/">Add a Page</a>            
            {#<button id="like" type="submit" class="btn btn-success" name="submit" value="like">Like</button>#}
        {% else %}
            {#<a> The specified category {{ category_name_url }} does not exist. </a>#}
        {% endif %}
        <div>
            <p> 
                <b id="like_count">{{ category.likes }} </b> people like this category

                {% if user.is_authenticated %}
                    <button id="likes" data-catid="{{category.id}}" class="btn btn-mini btn-primary" type="button">Like</button>
                {% endif %}           
            </p>    
        </div>
        <br>


        <div class="container-fluid">
            <h1> Search with myApp </h1>
            <br />            
            <form class="span8 form-search" id="search_form" method="post" action="/myApp/category/{{ category_name_url }}/">
                {% csrf_token %}
                <input type="text" class="input-long search-query" name="query" value="{{ category_name }}" id="query" />
                <button type="submit" class="btn btn-success" name="submit" value="search">Search</button>
                <br />
            </form>
            <br />
        </div>    
        <div class="container-fluid"> 
            <br />   
            {% if result_list %}
            <!--Display search results in an ordered list-->
                <ol>
                    {% for result in result_list %}
                        <li>
                            <strong><a href="{{ result.link }}"> {{ result.title }} </a></strong> <br />
                            <p> {{ result.summary }} </p>
                        </li>
                    {% endfor %}
                </ol>

            {% else %}
                <br />
                <p> No results found. </p>
            {% endif %}

        </div>        
{% endblock %} 





