<!DOCTYPE html>

{% load static %}

<html>
    <head>
        <title> myApp </title>	
    </head>

    <body>
        
        {#{% if user.authenticated %}#}
        {% if user.is_authenticated %}
            {#<h1> Hello, {{ user.name }} ! </h1>#}    
            <h1> Hello, {{user.username}} ! </h1>
        {% else %}
            <h1> Hello, world ! </h1> 
        {% endif %}

    	<h2> myApp says: "Top 5 Categories" </h2>
        {#<storng> {{ boldmessage }} </strong> <br >#}

        {% if categories %}
            <ul>
                {% for category in categories %}

                <li><a href = "/myApp/category/{{category.url}}">{{category.name}}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <storng> There is no category! </strong>
        {% endif %}

        <h2> myApp says: "Top 5 pages" </h2>

        {% if pages %}

            <ul>
                {% for page in pages %}
                    <li><a href = {{ page.url }}> {{page.title}} </a></li>
                {% endfor %}    
            </ul>

        {% else %}
            <strong> There are no pages. </strong>
        {% endif %}

        <br>

        <a href = "/myApp/add_category/" > Add a New Category </a>  

        <br>        

        
        {% if user.is_authenticated %}
            <a href = "\myApp\restricted\"> Restricted </a><br>        
            <a href = "\myApp\logout\"> Logout </a><br>
        {% else %}
            <a href = "\myApp\register\"> Register </a><br>        
            <a href = "\myApp\login\"> Login </a><br>
        {% endif %}


        


        <a href = "\myApp\about\"> About </a> <br >

        <img src = "{% static "nyplCivicHack.jpg" %}", altname = "NYPL Civic Hack" />
    </body>	

</html>
