{% extends 'myApp/base.html' %}

{% block title %} Home {% endblock %}

{% block body_block %}


<div class="hero-unit">
    <h1> Ready to myApp </h1>    
    <p> Find, Add, Share and Enjoy useful links and resources. </p>
</div>

<div class="row-fluid">
    <div class="span6">       
        <h2> Top Five Categories </h2> <br />
        {#{% if category %}#}        
        {% if categories %}
            <ul> 
                {% for category in categories %}
                    {#<li> <a href="/myApp/category/{{category}}"> {{category.name}} </a> </li>#}                
                    <li> <a href="/myApp/category/{{category.url}}"> {{category.name}} </a> </li>
                {% endfor %}
            </ul>
        {% else %}
        <p> There are no categories so far. </p>
        {% endif %}


    </div>    
    <div class="span6">
        <h2> Top Five Pages </h2> <br />
            {% if pages %}
                <ul>
                    {% for page in pages %}
                        {#<li> <a href="{{page.url}}"> {{page.title}} </a> <a>- {{page.category}} ({{page.views}} view(s))</a> </li>#}       
                        <li> <a href="{{page.url}}"> {{page.title}} </a> - {{page.category}} ({{page.views}} view(s)) </li> 
                    {% endfor %}
                </ul>
            {% else %}
                <p>There are no pages in this category. </p>
            {% endif %}  
    </div> 
</div>
<!--/row-->
{% endblock %}