{% extends 'myApp/base.html' %}

{% block title %} Register {% endblock %}

{% block body_block %}
<div class="hero-unit">
    <div class="container">
        {% if registerd %}
            <p>Thank you for registering. </p>

            <!-- <p><a href="/myApp/login/"> When you are ready to use myApp </a></p>  -->
            <p><a href="/myApp/login/"> Login </a> When you are ready to use myApp. </p>

        {% else %}
            <form class="form-signin span8" id="user_form" method="post" action="/myApp/register/" enctype="multipart/form-data">
                {% csrf_token %}
                <h2 class="form-signin-heading"> Sign up Here </h2>
                <!--Display each form here -->

                {% for field in user_form.visible_fields %}
                    {{ field.errors }}
                    {{ field.help_text }} <br />
                    {{ field }} <br />
                {% endfor %}

                {#{% for field in userprofile_form.visible_fields %}#}
                {% for field in profile_form.visible_fields %}
                    {{ field.errors }}
                    {{ field.help_text }} <br />
                    {{ field }} <br />
                {% endfor %}

<!--             {% for field in profile_form.visible_fields %}
            {{ field.errors }}
            {{ field.help_text }}<br />
            {{ field }}<br />
            {% endfor %}  -->               

                <br />
                <!--Provide a button to click to submit the form. -->
                {#<input class="btn btn-primary" type="submit" name="submit" value="register"/>#}
                <input class="btn btn-primary" type="submit" name="submit" value="register"/>
            </form>
        {% endif %}


    </div>
</div>
{% endblock %}
